@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 64px;
    font-weight: 100;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
}

#board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    width: 750px;
    margin-bottom: 20px;
}

#option-panel {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    height: 750px;
    gap: 30px;
    margin-right: 100px;
    margin-left: -200px;
}

.option-btn {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 15px;
}

#new-board {
    margin-top: auto;
}

#input-panel {
    display: flex;
    width: 100%;
}

#slider-container {
    display: flex;
    width: 100%;
    align-items: center;
}

#slider {
    width: 100%;
}

.cell {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.row {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.activated {
    background-color: black;
}
